* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --zoom-bg: rgba(0, 0, 0, 1);
    --zoom-button-bg: rgba(74, 74, 74, 1);
    --zoom-button-on: rgba(75, 200, 0, 1);
    --zoom-quit: rgba(230, 18, 25, 1);
    --zoom-footer-bg: rgba(34, 34, 34, 1);
}

button {
    background-color: var(--zoom-button-bg);
    color: white;
    border-radius: 0.25rem;
    margin: 0.5rem;
}

body {
    background-color: var(--zoom-bg);
}

/* #region header */
.top-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

/* #endregion header */
/* #region main */
.container {
    overflow: hidden;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-7 {
    width: calc((100%/12)*1.7);
    padding: 1rem 0.5rem;
}

.card {
    position: relative;
}

.student-name {
    color: white;
    background-color: rgba(211, 211, 211, 0.19);
    position: absolute;
    bottom: 0;
    left: 0;
}

/* #endregion main */

/* #region footer */
.bottom-menu {
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
    background-color: var(--zoom-footer-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.personal {
    color: white;
    display: flex;
    margin-left: 1rem;
    gap: 1rem;
}

.meeting {
    display: flex;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    gap: 1rem;
}

.icon {
    text-align: center;
}

.fa-share-from-square {
    color: var(--zoom-button-on);
}

.quit {
    background-color: var(--zoom-button-bg);
    color: var(--zoom-quit);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    max-width: fit-content;
    padding: 1rem;
}



/* #endregion footer */