:root{
    --zoom-bg: rgba(0, 0, 0, 1);
    --zoom-button-bg: rgba(74, 74, 74, 1);
    --zoom-button-on: rgba(75, 200, 0, 1);
    --zoom-quit: rgba(230, 18, 25, 1);
    --zoom-footer-bg: rgba(34, 34, 34, 1);
}
button{
    background-color: var(--zoom-button-bg);
    color: white;
}
body{
    background-color: var(--zoom-bg);
}
/* #region header */
.top-menu{
    display: flex;
    justify-content: flex-end;
}
/* #endregion header */

/* #region footer */
.bottom-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.personal{
    color: white;
}
.meeting{
    color: white;
}
.quit{
    background-color: var(--zoom-button-bg);
    color: var(--zoom-quit);
    max-width: fit-content;
    padding: 1rem;
}
.fa-share-from-square{
    color: var(--zoom-button-on);
}
/* #endregion footer */